In [1]:
# import library 
import numpy as np
import pandas as pd

#for data visualization library
import matplotlib.pyplot as plt
import seaborn as sns

#for interactiivity
from ipywidgets import interact

In [6]:
# lets read the dataset
data = pd.read_csv('data.csv')
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [8]:
data.shape

(2200, 8)

In [9]:
#let's check if there is any missing value present in the dataset
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

Fill-NA function is used to replace these missing values with stastical values such as mean,median or mode 
FA mean Not available
pandas have function like ,Fill-Na,drop -NA to treat missing value